if GOOGLE_ANALYTICS_ID
	//- Global Site Tag (gtag.js) - Google Analytics
	script(async data-no-instant src=`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`)

script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments)};
	gtag('js', new Date());
	gtag('config', '#[= GOOGLE_ANALYTICS_ID]', {
		custom_map: {
			dimension1: 'file',
			dimension2: 'title',
			dimension3: 'index'
		}
	});
