{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "compat"],
	"extends": [
		"airbnb-base",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"indent": ["error", "tab", { "SwitchCase" : 1 }],
		"no-tabs": "off",
		"no-plusplus": "off",
		"function-paren-newline": "off",
		"implicit-arrow-linebreak": "off",
		"import/no-extraneous-dependencies": ["error", {
			"devDependencies": [
				"**/*.test.js",
				"**/*.browsertest.js",
				"build/**",
				"tests/**"
			],
			"packageDir": "./"
		}],
		"import/extensions": "off",
		"import/no-unresolved": "off",
		"import/no-absolute-path": "off",
		"import/prefer-default-export": "off",
		"@typescript-eslint/indent": ["error", "tab"],
		"@typescript-eslint/explicit-function-return-type": "off"
	},
	"globals": {
		"document": true,
		"window": true,
		"describe": true,
		"expect": true,
		"test": true,
		"beforeAll": true,
		"afterAll": true,
		"beforeEach": true,
		"afterEach": true,
		"jest": true
	},
	"overrides": [
		{
			"files": ["publicSrc/scripts/**"],
			"excludedFiles": "*.browsertest.js",
			"rules": {
				"compat/compat": "error"
			}
		}
	]
}
