{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base",
        "plugin:flowtype/recommended"
    ],
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "indent": ["error", "tab"],
        "no-tabs": "off",
        "no-plusplus": "off",
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": [
                "**/*.test.js",
                "**/*.browsertest.js",
                "build/**",
                "tests/**"
            ],
            "packageDir": "./"
        }],
        "flowtype/delimiter-dangle": ["error", "always"],
        "flowtype/semi": ["error", "always"]
    },
    "globals": {
        "document": true,
        "window": true,
        "HTMLElement": true,
        "describe": true,
        "expect": true,
        "test": true,
        "beforeAll": true,
        "afterAll": true
    }
}
