include ../includes/mixins

doctype html
html(lang="en-GB")
    head
        include ../includes/meta
        script(src=GET_REVVED_PATH('/scripts/main.js') defer data-no-instant)
        link(rel="stylesheet" href=GET_REVVED_PATH('/styles/main.css'))
        include ../includes/googleAnalytics
        include ../includes/favicons
        block meta

    body
        .site-wrapper
            include ../includes/breadcrumb
            block content

        include ../includes/photoswipeDialog
