include ../includes/mixins.pug

doctype html
html.no-js(lang="en-GB")
	head
		include ../includes/meta.pug
		script(src=HELPERS.getRevvedPath('/scripts/main.js') defer data-no-instant)
		link(rel="stylesheet" href=HELPERS.getRevvedPath('/styles/main.css'))
		link(rel="manifest" href=HELPERS.getRevvedPath('/manifest.json'))
		include ../includes/headScripts.pug
		include ../includes/favicons.pug
		block meta

	body
		.site-wrapper
			include ../includes/breadcrumb.pug
			block content

			footer.text-center
				a.small(href="/sitemap") Sitemap

		include ../includes/photoswipeDialog.pug
