include ../includes/mixins.pug

doctype html
html.no-js(lang=CONSTANTS.SITE_LOCALE)
	head
		include ../includes/meta.pug
		script(src=HELPERS.getRevvedPath('/scripts/main.js') defer)
		link(rel="stylesheet" href=HELPERS.getRevvedPath('/styles/main.css'))
		link(rel="manifest" href=HELPERS.getRevvedPath('/manifest.json'))
		include ../includes/headScripts.pug
		include ../includes/favicons.pug
		block meta

	body
		.site-wrapper
			.site-content
				include ../includes/breadcrumb.pug
				block content

			footer.site-footer.text-center
				a.small(href="/sitemap") Sitemap

		include ../includes/photoswipeDialog.pug
