include ../includes/mixins

doctype html
html(lang="en-GB")
    head
        include ../includes/meta
        script(src=`/scripts/${ASSET_META['main.js']}` defer data-no-instant)
        link(rel="stylesheet" href=`/styles/${ASSET_META['main.css']}`)
        include ../includes/googleAnalytics
        include ../includes/favicons
        block meta

    body
        .site-wrapper
            include ../includes/breadcrumb
            block content

        include ../includes/photoswipeDialog
