include ../includes/mixins

doctype html
html(lang="en-GB" class="no-js")
    head
        include ../includes/meta
        script(src=HELPERS.getRevvedPath('/scripts/main.js') defer data-no-instant)
        link(rel="stylesheet" href=HELPERS.getRevvedPath('/styles/main.css'))
        include ../includes/googleAnalytics
        include ../includes/favicons
        block meta

    body
        .site-wrapper
            include ../includes/breadcrumb
            block content

        include ../includes/photoswipeDialog
