* {
	box-sizing: border-box;
}

html {
	color: var(--color-text);
	font-family: var(--font-copy);
	font-size: 18px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

img,
video {
	max-width: 100%;
}

button {
	padding: 0;
	border: none;
	background: none;
	color: var(--color-primary);
	font-family: var(--font-copy);
	cursor: pointer;
	transition: color var(--speed-slow);

	&:hover {
		color: color(var(--color-primary) lightness(-20%));
		transition: color var(--speed-fast);
	}
}

p {
	margin: var(--spacing-medium) 0;
}

figure {
	margin: 0;
}

a,
.link {
	@mixin link-color var(--color-primary);
}

.link--uncolored {
	@mixin link-color var(--color-text);
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	max-width: var(--width-site-max);
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 var(--spacing-site-padding);
}

.site-content {
	/* Expand content to make footer stick to bottom. */
	flex: 1;
}

.site-footer {
	margin-bottom: var(--spacing-site-padding);
}

/* This breakpoint is used in constants.js, along with the padding value.
 * If making changes, change there too.
 */
@media screen and (min-width: 1000px) {
	.site-wrapper {
		padding: 0 12.5%;
	}
}
