extends ../layouts/main

block meta
    title=`${title} | Daniel Levett`

block content
    main.site-section
        header.blog-header
            h1.site-heading=title

        include includes/travelPostListingItems
        //- include ./relatedPosts
