include ../includes/mixins

each post, i in posts
    article
        a.blog-link(href=post.path)
            h2.section-heading
                span=post.town
                span.section-heading-details=`${post.country}, ${post.humanDate}`
            +picture(
                post.mainImage,
                {
                    className: 'blog-image',
                    lazyLoad: i > 1,
                    altOverwrite: ''
                }
            )
