extends ../layouts/main.pug

block meta
	title= `${title} | Daniel Levett`

block content
	main.site-section
		header.blog-header
			h1.heading--main= title

		include includes/travelPostListingItems.pug
