extends ../layouts/main

block meta
    title=`${title} | Daniel Levett`

block content
    header.site-header
        h1.site-heading=title

    section.site-section
        include ./travelPostListingItems
