include ../includes/mixins

each post in posts
    article
        a(href=post.path)
            h2.section-heading
                span=post.town
                span.section-heading-details=`${post.country}, ${post.humanDate}`
            +picture(post.mainImage, {className: 'blog-image'})
