doctype html
html(lang="en-GB")
    head
        include ./includes/meta
        title 404 - Page not found
        link(rel="stylesheet" href=`/styles/${ASSET_META['main.css']}`)
        include ./includes/googleAnalytics
        include ./includes/favicons
        style.
            html, body {
                height: 100%;
                margin: 0 20px;
                padding: 0;
            }
            body {
                display: flex;
                align-items: center;
            }
            h1 {
                margin: 0 0 20px;
            }
            .not-found-wrapper {
                width: 100%;
                text-align: center;
                margin: 40px 0;
            }
            .not-found-heading-status {
                font-size: 2em;
            }
    body
        .not-found-wrapper
            h1
                div.not-found-heading-status 404
                div Page not found
            a(href="/") take me back home
