.blog-image {
	margin-bottom: var(--spacing-section);
	display: block;

	&.last {
		margin-bottom: var(--spacing-huge);
	}
}
.related-posts-wrapper {
	margin: var(--spacing-section) 0;
}
.related-posts-wrapper-inner {
	display: flex;
	width: 100%;
}
.related-post {
	display: block;
	width: 50%;

	&.next-post {
		padding-left: var(--spacing-huge);
		margin-left: auto;
		text-align: right;
	}
	&.previous-post {
		padding-right: var(--spacing-huge);
		margin-right: auto;
	}
}
.related-post-image {
	display: block;
	margin-bottom: var(--spacing-small);
}
.related-post-heading {
	font-size: 1rem;
}
