.blog-header {
	margin: var(--spacing-huge) 0;
	text-align: center;

	.site-heading {
		font-size: 2rem;
	}
}

.blog-heading {
	margin-bottom: var(--spacing-medium);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.blog-image {
	margin-bottom: var(--spacing-huge);
	display: block;

	&.last {
		margin-bottom: var(--spacing-large);
	}
}

.related-posts-wrapper {
	margin-top: var(--spacing-section);
}

.related-posts-wrapper-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.related-post {
	display: block;
	margin-bottom: var(--spacing-huge);
}

.next-post {
	order: 1;
}

.previous-post {
	order: 2;
}

.blog-link,
.related-post-link {
	@mixin link-color var(--color-text);
}

.related-post-image {
	display: block;
	margin-bottom: var(--spacing-small);
}

.related-post-heading-label {
	display: block;
	font-size: 0.8rem;
}

@media screen and (min-width: 650px) {
	.related-posts-wrapper-inner {
		flex-direction: row;
	}

	.related-post {
		width: 50%;
	}

	.next-post {
		order: 2;
		padding-left: var(--spacing-large);
		margin-left: auto;
		text-align: right;
	}

	.previous-post {
		order: 1;
		padding-right: var(--spacing-large);
		margin-right: auto;
	}
}

@media screen and (min-width: 800px) {
	.blog-image {
		margin-bottom: var(--spacing-section);

		&.last {
			margin-bottom: var(--spacing-section);
		}
	}

	.blog-header {
		.site-heading {
			font-size: 2.5rem;
		}
	}

	.related-post {
		margin-bottom: var(--spacing-section);
	}

	.related-posts-wrapper {
		margin-top: var(--spacing-huge);
	}
}
