.text-button {
	background: none;
	border: none;
}
.badge {
	display: inline-block;
	background: var(--color-primary);
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
	color: #fff;
	padding: 5px var(--spacing-small);
	border-radius: 2px;
	margin-right: var(--spacing-small);
	margin-bottom: var(--spacing-small);
	transition: color var(--speed-slow);

	&:--active {
		color: #fff;
		background: color(var(--color-primary) lightness(-5%))
	}
}
