@define-mixin horizontal-spacing-small {
	margin-right: var(--spacing-small);
	margin-left: var(--spacing-small);

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

@define-mixin list-unstyled {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

@define-mixin list-horizontal {
	@mixin list-unstyled;

	& > li {
		@mixin horizontal-spacing-small;

		display: inline-block;
	}
}

@define-mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
}

@define-mixin link-color $color {
	color: $color;
	text-decoration: none;
	cursor: pointer;
	transition: color var(--speed-slow);

	&:--active {
		color: color($color lightness(-20%));
		transition: color var(--speed-fast);
	}
}
