.js-readmore-button {
	background: none;
	border: none;
	padding: 0;
	color: var(--color-primary);
}
.js-readmore-long {
	display: none;
}
.js-readmore-active {
	.js-readmore-button {
		display: none;
	}
	.js-readmore-short {
		display: none;
	}
	.js-readmore-long {
		display: block;
	}
}
@media screen and (min-width: 500px) {
	.js-readmore-button {
		display: none;
	}
	.js-readmore-short {
		display: none;
	}
	.js-readmore-long {
		display: block;
	}
}
