* {
	box-sizing: border-box;
}

a {
	@mixin link-color var(--color-primary);
}

html {
	color: var(--color-text);
	font-family: var(--font-copy);
	font-size: 18px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

button {
	padding: 0;
	border: none;
	background: none;
	color: var(--color-primary);
	font-family: var(--font-copy);
	cursor: pointer;
	transition: color var(--speed-slow);

	&:hover {
		color: color(var(--color-primary) lightness(-20%));
		transition: color var(--speed-fast);
	}
}

body {
	margin: 20px;
}

img {
	max-width: 100%;
}

p {
	margin: var(--spacing-medium) 0;
}

figure {
	margin: 0;
}

:--heading {
	margin: var(--spacing-medium) 0;
	font-family: var(--font-heading);
	font-weight: normal;
	letter-spacing: 0.06em;
	line-height: 1.1;
}

.site-wrapper {
	max-width: var(--width-site-max);
	margin: 0 auto;
}
