* {
	box-sizing: border-box;
}
a {
	@mixin link-color var(--color-primary);
}
html {
	font-size: 18px;
	line-height: 1.5;
	color: var(--color-text);
	font-family: var(--font-copy);
	-webkit-font-smoothing: antialiased;
}
button {
	font-family: var(--font-copy);
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	color: var(--color-primary);
	transition: color var(--speed-slow);

	&:hover {
		color: color(var(--color-primary) lightness(-20%));
		transition: color var(--speed-fast);
	}
}
body {
	margin: 20px;
}
img {
	max-width: 100%;
}
p {
	margin: var(--spacing-medium) 0;
}
figure {
	margin: 0;
}
:--heading {
	font-family: var(--font-heading);
	letter-spacing: 0.06em;
	line-height: 1.1;
	font-weight: normal;
	margin: var(--spacing-medium) 0;
}
.site-wrapper {
	max-width: var(--width-site-max);
	margin: 0 auto;
}
