.visually-hidden {
	@mixin visually-hidden;
}

.list-unstyled {
	@mixin list-unstyled;
}

.list-horizontal {
	@mixin list-horizontal;
}

.text-center {
	text-align: center;
}

.align-center {
	margin-right: auto;
	margin-left: auto;
}

.baseline-small {
	margin-bottom: var(--spacing-small);
}

.baseline-medium {
	margin-bottom: var(--spacing-medium);
}

.baseline-large {
	margin-bottom: var(--spacing-large);
}

.baseline-huge {
	margin-bottom: var(--spacing-huge);
}

.baseline-section {
	margin-bottom: var(--spacing-section);
}

.flex {
	display: flex;
}

.flex--column {
	flex-direction: column;
}

.flex--row {
	flex-direction: column;
}

.flex--spacing-small {
	& > * {
		@mixin horizontal-spacing-small;
	}
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* TODO: separate this file out */

.block {
	display: block;
}

.no-js .no-js-hide {
	display: none;
}
