.picture {
	height: 0;
	overflow: hidden;
	animation-name: loading-background;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	img {
		display: block;

		/*
			When viewing a <picture> on Safari on a small screen, and then increasing
			the browser width, Safari will not download a larger version defined in the
			srcset. This is especially annoying on iPad, when changing the orientation
			from portrait to landscape - the images will be too small to fill the
			entire space. Set width to 100% to compensate.
		*/
		width: 100%;
		max-width: none;
	}
}

.js .picture--lazyload {
	img {
		opacity: 0;
		transition: opacity var(--speed-slow);

		&.lazyloaded {
			opacity: 1;
		}
	}
}

@keyframes loading-background {
	to { background: #f0f0f0; }
	from { background: #f9f9f9; }
}
