extends ../layouts/main.pug

block content
	main
		article
			header.blog-header
				h1.heading--main= post.town
					span.subheading
						span= `${post.country} | `
						time(datetime=post.date)= post.humanDate

			each image, i in post.images
				+imageLink(image)
					figure
						+media(HELPERS.immutableExtend(image, {
							className: 'blog-image' + (i === post.images.length - 1 ? ' last' : ''),
							lazyLoad: i > 1
						}))
						if image.caption
							figcaption.visually-hidden= image.caption

			include includes/relatedPosts.pug
