.sitemap-list {
	padding: 0 0 0 var(--spacing-large);
	list-style: none;
}

.sitemap-list--lv1 {
	padding: 0;
}

.sitemap-list-item--lv1 {
	margin-bottom: var(--spacing-huge);
}

.sitemap-heading:not(.sitemap-heading--lv1) {
	font-family: var(--font-copy);
	font-size: 1em;
}

.sitemap-link {
	@mixin link-color var(--color-text);
}

.sitemap-link--lv3 {
	@mixin link-color var(--color-text-light);
}
