link(rel="apple-touch-icon" sizes="180x180" href=HELPERS.getRevvedPath('/apple-touch-icon.png'))
link(rel="icon" type="image/png" sizes="32x32" href=HELPERS.getRevvedPath('/favicon-32x32.png'))
link(rel="icon" type="image/png" sizes="16x16" href=HELPERS.getRevvedPath('/favicon-16x16.png'))
link(rel="mask-icon" href=HELPERS.getRevvedPath('/safari-pinned-tab.svg') color="#5bbad5")
