:--heading,
.heading {
	margin: var(--spacing-medium) 0;
	font-family: var(--font-heading);
	font-weight: normal;
	letter-spacing: 0.06em;
	line-height: 1.1;
}

.heading--underlined {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: var(--spacing-small);
	padding-bottom: var(--spacing-small);
	border-bottom: var(--hairline-border);
}

.heading--main {
	margin: 0;
	font-size: 2rem;
	text-transform: uppercase;
}

.heading__details {
	flex: 1;
	margin-left: var(--spacing-medium);
	font-size: 0.6em;
	text-align: right;
}

.subheading {
	display: block;
	margin: var(--spacing-small) 0;
	font-size: 1rem;
	line-height: 1.2;
}

@media screen and (min-width: 500px) {
	.heading--underlined {
		margin-bottom: var(--spacing-medium);
		padding-bottom: var(--spacing-medium);
	}

	.subheading--reduced-margin {
		margin: 0;
	}
}

@media screen and (min-width: 800px) {
	.heading--main {
		font-size: 2.5rem;
	}
}
