mixin imageLink({src}, attrs={})
    - const images = IMAGE_META[src];
    - const largeImage = images.large;
    a.js-photoswipe(
        href=largeImage.src
        data-width=largeImage.width
        data-height=largeImage.height
        data-map-link=images.mapLink
        data-no-instant
    )&attributes(attrs)
        block
