mixin imageLink({src})
    - const largeImage = IMAGE_META[src].large;
    a.js-photoswipe(
        href=largeImage.src
        data-width=largeImage.width
        data-height=largeImage.height
        data-no-instant
    )
        block
