.cols {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.cols--spacing-medium {
	grid-gap: var(--spacing-medium);
}

@for $count from 1 to 12 {
	.col-$count {
		grid-column-end: span $count;
	}
}
