.picture {
	height: 0;
	animation-name: loading-background;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	img {
		display: block;
	}
}

.js .picture--lazyload {
	img {
		opacity: 0;
		transition: opacity var(--speed-slow);

		&.lazyloaded {
			opacity: 1;
		}
	}
}

@keyframes loading-background {
	to { background: #f0f0f0; }
	from { background: #f9f9f9; }
}
