/* Base */
@import "normalize.css/normalize.css";
@import "./includes/variables.css";
@import "./includes/custom-selectors.css";
@import "./includes/mixins.css";
@import "./includes/structure.css";
@import "./includes/buttons.css";
@import "./includes/breadcrumb.css";

/* Pages */
@import "./pages/home.css";
@import "./pages/travel.css";

/* Misc */
/* TODO: Organise */
.site-header {
	text-align: center;
	margin: 4rem 0;
}
.site-heading {
	text-transform: uppercase;
	font-size: 3rem;
	margin: 0;
}
.site-heading-links {
	@mixin unstyled-list;
	margin: var(--spacing-small) 0 0;
	font-size: 0.9em;

	li {
		display: inline-block;
		margin: 0 var(--spacing-small);
	}
}
.site-subheading {
	display: block;
	font-size: 1rem;
}
.section-subheading {
	text-align: center;
}
.site-section {
	margin-bottom: var(--spacing-section);
}
.section-intro {
	margin-bottom: var(--spacing-huge);
}
.section-heading {
	border-bottom: var(--hairline-border);
	padding-bottom: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.section-heading-details {
	flex: 1;
	font-size: 0.6em;
	text-align: right;
}

@media screen and (max-width: 450px) {
	.site-header {
		margin: var(--spacing-huge) 0;
	}
	.site-subheading {
		margin-top: var(--spacing-small);
		margin-bottom: var(--spacing-small);
		line-height: 1.2;
	}
	.site-section:last-child {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 360px) and (max-width: 450px) {
	.site-subheading {
		margin-left: 50px;
		margin-right: 50px;
	}
}
@media screen and (min-width: 451px) and (max-width: 500px) {
	.site-subheading {
		margin-left: 80px;
		margin-right: 80px;
	}
}
