extends ../layouts/patternLibrary.pug

block contentInner
	.baseline-section
		h2 Spacing under elements
		ul.list-unstyled.demo-alignment-spacing-wrapper.clearfix
			li
				.demo-alignment-spacer.baseline-small baseline-small
			li
				.demo-alignment-spacer.baseline-medium baseline-medium
			li
				.demo-alignment-spacer.baseline-large baseline-large
			li
				.demo-alignment-spacer.baseline-huge baseline-huge
			li
				.demo-alignment-spacer.baseline-section baseline-section

	.baseline-section
		h2 Grid
		.cols.demo-alignment-grid
			.col-12 col-12

			.col-11 col-11
			.col-1 col-1

			.col-10 col-10
			.col-2 col-2

			.col-9 col-9
			.col-3 col-3

			.col-8 col-8
			.col-4 col-4

			.col-7 col-7
			.col-5 col-5

			+repeat(2)
				.col-6 col-6

			.col-5 col-5
			.col-2 col-2
			.col-5 col-5

			+repeat(3)
				.col-4 col-4

			+repeat(4)
				.col-3 col-3

			+repeat(6)
				.col-2 col-2

			+repeat(12)
				.col-1 col-1
