extends ../layouts/patternLibrary.pug

block contentInner
	- const img1 = {src: '/media/travel/vietnam/cat-ba/20170612_125616.jpg', alt: 'An image'};
	- const img2 = {src: '/media/travel/vietnam/hoa-lu/20170610_112344.jpg', alt: 'An image'};

	.baseline-section
		h2 Images
		.cols.cols--spacing-medium
			.col-6
				+media(HELPERS.R.merge(img1, {lazyLoad: false}))
				h3 Normal

			.col-6
				+media(HELPERS.R.merge(img2, {lazyLoad: true}))
				h3 Lazy Loaded

	.baseline-section
		h2 Images with link (no JS) / Photoswipe gallery (JS)
		.cols.cols--spacing-medium
			.col-6
				+imageLink(img1)
					+media(img1)

			.col-6
				+imageLink(img2)
					+media(img2)
