extends ../layouts/patternLibrary.pug

block contentInner
	p.text-center.align-center(style="max-width: 450px;") The categories above demonstrate usage of common classes and pug mixins to display styled content across the site.
