extends ../layouts/patternLibrary.pug

block contentInner
	.baseline-section
		h2 Standard headings

		h1 Heading 1
		h2 Heading 2
		h3 Heading 3
		h4 Heading 4
		h5 Heading 5
		h6 Heading 6

	.baseline-section
		h2 Fancy headings
		h2.heading--underlined Heading Underlined
		h2.heading--underlined
			span.heading__title
				span Heading Underlined
			span.heading__details
				span with text here
		p The nested &lt;span&gt; elements are needed for good vertical alignment of multi-line text on mobile. The detail text should always be aligned to the baseline of the main heading text.

	.baseline-section
		h2 Copy
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum a, nam nobis eum praesentium mollitia nostrum voluptates eius facilis facere beatae molestiae, deleniti obcaecati, possimus. Cupiditate cumque, accusamus aliquid labore.
		p Deserunt voluptas alias, assumenda vel ratione doloribus et vero dolorum excepturi distinctio adipisci maiores sit inventore laboriosam, tempore in culpa nihil provident reiciendis temporibus iusto magnam earum vitae. Distinctio, neque.
		p Quaerat in odit quo eos tempore facilis doloremque aspernatur accusamus harum. Distinctio eaque nisi ipsam ex laudantium, explicabo provident quos quod? Rem ipsum, nihil veniam libero magni quis. Minus, dolor!

	.baseline-section
		.baseline-medium
			h2 Links
		.baseline-medium
			a(href="/") Plain link
			= ' inline with normal copy and '
			a(href="/") other links
			| .
		ul.list-horizontal
			li
				a(href="/") Menu Item 1
			li
				a(href="/") Menu Item 2
			li
				a(href="/") Menu Item 3

		div
			a.badge(href="/") Badge 1
			a.badge(href="/") Badge 2

	.baseline-section
		h2 “Read more…” toggle (mobile)
		+readMore(
			'Lorem ipsum dolor sit amet.',
			'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum a, nam nobis eum praesentium mollitia nostrum voluptates eius facilis facere beatae molestiae, deleniti obcaecati, possimus. Cupiditate cumque, accusamus aliquid labore.'
		)
